%h1 Welcome#index
%p Find me in app/views/welcome/index.html.erb
= link_to 'Products', products_path
= link_to 'Menu',  menus_path
= link_to 'Categoru', categories_path
= link_to 'Store', store_index_path
